/* Used for every page that has a footer */

.foot{
    position: relative;
    border-top: solid;
    border-width: 10px;
    border-top-color: rgba(96,198,89, .7);
    width: 100%;
    margin-top: -16%;
    height: 200px;
    background-color: rgba(0,142,214, .7);

}

.other, .addr, .contact{
    width: 25%;
    height:100%;
}
.addr{
    margin-left: 25%;
    margin-top: -216px;
}

.contact{
    margin-left: 50%;
    margin-top: -216px;
}

.foot li{
    list-style: none;
    color: white;
    font-family: "Century Gothic";
}

.title{
    font-weight: bold;

}
